.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content-ppl {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 450px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.modal-content-ppl input {

    flex: 1;

    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-shadow: 0px 1px 2px 0px #4D40551A;

}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.cancel-btn-ppl {
    background: transparent;
    border: 1px solid red;
    padding: 0.5rem 1rem;
    color: red;
    cursor: pointer;
}

.save-btn-ppl {
    background-color: #00b4d8;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

@media (max-width: 480px) {
    .modal-content-ppl {
        width: 300px;
    }
}