.kanban-board {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: hidden;

    height: 500px;
    padding-bottom: 10px;
    white-space: nowrap;
    margin-left: 250px;
    z-index: 1;
    scroll-behavior: smooth;
    margin-top: 20px;

}

.kanban-column {
    flex: 0 0 350px;

    background-color: #f9fafb;
    padding: 20px;


    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;

    height: 100%;

}



.kanban-board::-webkit-scrollbar {
    height: 12px;
}

.kanban-board::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

.kanban-board::-webkit-scrollbar-track {
    background-color: #f3f4f6;
}


.kanban-column::-webkit-scrollbar {
    width: 12px;
}

.kanban-column::-webkit-scrollbar-thumb {
    background-color: #8caabf;
    border-radius: 10px;
    border: 2px solid #d7e7f0;

}

.kanban-column::-webkit-scrollbar-track {
    background-color: #d7e7f0;
    border-radius: 10px;
    margin: 2px;

}

.kanban-column h3 {
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.kanban-column-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kanban-task {
    background-color: white;
    padding: 20px;
    width: 385px;
    max-height: 800px;
    gap: 0px;

    position: relative;
    margin-bottom: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 16px;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: visible;
    /* z-index: 1; */
}


.kanban-task h4 {
    margin: 0;
    font-size: 0.95rem;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
    line-height: 1.2;
    z-index: 1;
}




.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.collapse-btn {
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}



.task-meta-card {
    display: flex;

    gap: 8px;
}

.duedate {
    color: #6b7280;
    background-color: #DBDBDB;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 0.6rem;
    white-space: nowrap;
}

.duedate-overdue {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 0.6rem;
}

.duedate-done {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 0.6rem;
}



.status-btn {
    display: flex;
    gap: 2px;
    margin-left: auto;


}

.status-btn button {
    background-color: #f0f0f0;
    color: #666;
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: normal;
    text-transform: uppercase;
}

.status-btn button:hover {
    background-color: #e5e5e5;
}


.task-title.collapsed {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.task-title.expanded {
    white-space: normal;

    overflow: visible;
}


.task-title.hoverable-title:hover {
    white-space: normal;

    overflow: visible;

}


.task-title .full-title-tooltip {
    visibility: hidden;
    position: absolute;
    top: 100%;

    left: 0;
    background-color: white;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 0;
    white-space: nowrap;
    color: #333;
    font-size: 0.95rem;
    width: max-content;
    max-width: 280px;
    overflow: hidden;

}

.kanban-task.expanded>h4,
.kanban-task:hover>h4 {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    visibility: visible;
}



.priority {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: #888;
    gap: 4px;
    text-transform: uppercase;
}



.high>i {
    color: #ef4444;
    font-size: 0.8rem;
    margin-right: 2px;

}

.moderate>i {
    color: #f59e0b;
    font-size: 0.8rem;
    margin-right: 2px;

}

.low>i {
    color: #10b981;
    font-size: 0.8rem;
    margin-right: 2px;

}

.task-title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    z-index: 25;
}

.kanban-board::-webkit-scrollbar {
    height: 8px;
}

.kanban-board::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
}

.kanban-board::-webkit-scrollbar-track {
    background-color: #f3f4f6;
}

.popup-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    z-index: 2;
    min-width: 150px;
    margin-top: 4px;
}

.popup-menu .btns {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    color: #374151;
}

.popup-menu .btns:hover {
    background-color: #f3f4f6;
}


.btns:last-child {
    color: red;
}

.user-initials-task {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FDE2E4;
    color: black;
    font-size: 0.8rem;

    text-align: center;
    line-height: 20px;
    margin-left: 10px;
}

.priority-name {
    display: flex;
    flex-direction: row;
}

.checklist {
    margin-top: 8px;
    padding: 8px 0;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;

}

.checklist h5 {
    font-size: 1rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    justify-content: space-between;


}

.checklist-item {
    border: 1pt solid #E2E2E2;
    padding: 5px;
    margin-top: 6px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.checklist-item input[type="checkbox"] {
    margin-right: 8px;
    width: 18px;
    height: 18px;
    accent-color: #17A2B8;
    /* Blue for checked boxes */

}

.checklist-item label {
    display: block;
    /* Make label take up full width */
    white-space: normal;
    /* Allow wrapping to the next line */
    overflow-wrap: break-word;
    /* Wrap long words */
    word-wrap: break-word;
    /* flex: 1; */
    max-width: 80%;
    /* Prevent label from exceeding the card width */

}


.dots-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0;
    color: #6b7280;
    position: relative;
    z-index: 0;
    line-height: 1;
}


.dots-btn:hover {
    color: #374151;
}

.collapse-arrow-btn {
    background: #EEECEC;
    border: none;
    font-size: 1.01rem;
    cursor: pointer;
    /* margin-left: 8px; */
    color: #767575;
    padding: 4px 6px;
    border-radius: 5px;

}

.collapse-arrow-btn:hover {
    color: #000;
}

.kanban-controls {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.add-people-btn {
    margin-right: 1rem;
}

.add-btn {
    border: none;
    background: transparent;
    font-weight: bold;
}

.btns-todo {
    margin: 0;
    padding: 0;
    display: flex;
}


.kanban-column::-webkit-scrollbar {
    width: 12px;

    background-color: transparent;

}


.kanban-column::-webkit-scrollbar-track {
    background-color: #d7e7f0;

    border-radius: 10px;

    margin: 2px;

}


.kanban-column::-webkit-scrollbar-thumb {
    background-color: #8caabf;

    border-radius: 10px;

    border: 2px solid #d7e7f0;

}


.kanban-column::-webkit-scrollbar-thumb:hover {
    background-color: #6a8ea5;

}


.kanban-column {
    scrollbar-width: thin;
    scrollbar-color: #8caabf #d7e7f0;

}


.modal-overlay-del {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.delete-modal-del {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 30;
}

.delete-modal-del p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 16px;
    font-weight: bold;
}


.modal-buttons-del {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: column;
    width: 100%;

}

.confirm-delete {
    background-color: #17A2B8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.confirm-delete:hover {
    background-color: #008ecc;
}

.cancel-delete {
    background-color: transparent;
    color: #ff4d4d;
    padding: 10px 20px;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.cancel-delete:hover {
    background-color: #ffeded;
}




@media (max-width: 768px) {
    .kanban-board {
        margin-left: 0;
    }

}

@media (max-width: 480px) {
    .kanban-board {
        padding: 0;
        flex-wrap: wrap;
        max-height: 80vh;
        overflow-y: auto;
        align-self: center;
        justify-self: center;
        margin-left: 0;
        justify-content: center;
        flex: 0;


    }

    .kanban-column {
        padding: 15px;
        box-shadow: none;
        border-radius: 8px;
    }

    .kanban-task h4 {
        font-size: 0.85rem;
    }

    .kanban-task {
        padding: 15px;
        /* z-index: 1; */
    }

    .status-btn button {
        font-size: 0.7rem;
        padding: 2px 8px;
    }

    .collapse-btn {
        font-size: 1rem;
    }

    .add-btn {
        font-size: 1rem;

    }

    .delete-modal-del {
        width: 300px;
    }
}